.page-loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  animation: fadeLoader 0.4s ease forwards;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 4px solid #3C0073;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes fadeLoader {
  from { opacity: 0; }
  to { opacity: 1; }
}
