.links-container{
  min-width: 200px;
  background-color: #5a008a;
  padding: 8px 15px 8px 15px;
  margin: 0 3.8%;
  border-radius: 8px;
}

.social-title{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e6e6ff;
  position: relative;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 2em;
  color: white;
  
}

.social-links a {
  color: #ffb300;
  transition: 0.3s;
}

.social-links a:hover {
  color: white;
  scale: 1.3;
}

@media (max-width: 900px){
.social-links{
  margin: 0 3.5%;
}
}
