.features-page {
  padding: 20px;
  background: #f8f7ff;
  direction: rtl;
  text-align: center;
  margin-top: 100px;
}

.features-title {
  font-size: 36px;
  color: #2d006b;
  font-weight: 700;
  margin-bottom: 40px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  padding: 10px;
}

.feature-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 60, 0.07);
  transition: 0.3s ease;
  cursor: default;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 60, 0.15);
}

.feature-card .icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.feature-title {
  font-size: 20px;
  color: #3c0078;
  margin-bottom: 10px;
  font-weight: 600;
}

.feature-text {
  font-size: 15px;
  color: #4b4b4b;
  line-height: 1.8;
}


@media (max-width: 900px){
  .features-page{
    margin-top: 70px;
  }
}