@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;700&family=Poppins:wght@600&display=swap');

.footer {
  background-color: #FFD500; 
  color: black;
  text-align: center;
  padding: 50px 20px 10px 20px;
  position: relative;
  margin: 0 3.6%;
  margin-top: 25px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.footer {
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.15);
}

.footer-logo {
  transition: transform 0.3s ease;
}

.footer-logo:hover {
  transform: scale(1.2);
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
}

.footer-logo {
  width: 100px;
  filter: drop-shadow(0 3px 5px rgba(255, 255, 255, 0.2));
}

/*icons and content*/
.contact-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.3rem;
  color: #4b0082;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.1rem;
  font-weight: 500;
  direction: rtl;
}

.contact-icons i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons i:hover {
  transform: scale(1.15);
  color: #ffffff;
}



.footer-bottom {
  text-align: center;
  padding: 14px 0;
  background-color: #4b0082;
  color: #fff;
  font-size: 14px;
  position: relative;
  border-radius: 8px;
  margin-top: 30px;
  direction: ltr;
}

.footer-bottom::before {
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer-bottom p {
  margin: 0;
  opacity: 0.75;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } 

  .contact-row span{
    font-size: 16px;
  }

  .footer-bottom p{
    font-size: 12px;
  }
  
}


